@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Henny+Penny&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Henny+Penny&display=swap');

html {
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(212, 235, 248);
  margin: 0;
  padding: 0;
  min-height: 100%;
  text-align: center;
  position: relative;
  top: 10%;
  overflow: hidden;
  font-family: "Atma", system-ui;
  font-size: 20px;

}

h1 {
  color: rgb(198, 46, 46);
  font-family: "Henny Penny", system-ui;
  font-size: 50px;

}

#countdown {
  color: rgb(33, 155, 157);
}

span {
  font-weight: bold;
}

#userInput {
  background-color: rgb(10, 57, 129);
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  text-align: center;
}

#result .green {
  color: #71c996;
  font-size: 25px;
  font-weight: bold;
}

#result .red {
  color: rgb(227, 142, 73);
  font-size: 25px;
  font-weight: bold;
}

#restart {
  width: 150px;
  font-family: "Atma", system-ui;
  font-size: 17px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 20px;
}

#restart:hover {
  background-color: rgb(227, 142, 73);
}